html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: white;
  list-style-type: none;
  margin: 0px;
  box-shadow: 0px 3px 10px 0px rgba(179, 179, 179, 1);
}

.list__header {
  font-size: 24px;
  font-weight: 900;
  background-color: white;
  padding: 30px;
  padding-left: 35px;
  margin: 10px 0px 5px;
  box-shadow: 0px 3px 10px 0px rgba(179, 179, 179, 1);
}

.list__item {
  width: 95%;
  font-size: 20px;
  margin: 15px 0px;
  border-bottom: solid 2px #eeefef;
  padding: 10px;
  display: grid;
  grid-template-columns: 5% 75% 10%;
  gap: 5%;
  align-items: center;
}

.list__item--done {
  text-decoration: line-through;
}

.list__button {
  background-color: #3a7a2d;
  border: none;
  height: 40px;
  width: 40px;
}

.list__button--done {
  background-image: url("../images/check128.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
}

.list__button--remove {
  background-color: #da2d44;
  background-image: url("../images/bin128.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 75%;
  border: none;
  height: 40px;
  width: 40px;
  order: 2;
  justify-self: end;
}
